@font-face {
  font-family: "Gilroy";
  src: url("/static/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("/static/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/static/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("/static/fonts/Gilroy-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/static/fonts/Gilroy-Light.woff2") format("woff2"),
    url("/static/fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

:root {
  /* Grayscale */
  --gray-1: #eeeff2;
  --gray-2: #8991a3;
  --gray-3: #57627b;
  --gray-4: #464e62;
  --gray-5: #3c4354;

  /* Yellow accents */
  --yellow: #fff9a3;
  --yellow-light: #fffeec;

  /* Green accents */
  --green: #41dab8;
  --green-light: #ecfbf8;

  /* Layout */
  --inner-width: 1300px;
  --full-width: 100vw;
  --full-height: 100vh;
  --gap: 80px;
  --gap-half: 40px;
  --gap-double: 160px;
}

*::-moz-selection {
  color: var(--gray-4);
  background-color: rgba(65, 218, 184, 0.99);
}

*::selection {
  color: var(--gray-4);
  background-color: rgba(65, 218, 184, 0.99);
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  background-color: var(--gray-4);
  overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 1000px #000 inset;
  box-shadow: 0 0 0 1000px #000 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "Gilroy";
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  transition: opacity 300ms ease;
}

a:hover {
  opacity: 1;
}
